Silkscreen {
  font-family: 'Silkscreen', sans-serif;
}

@import
url("https://fonts.google.com/specimen/Silkscreen");

/* .hair {
  fill: rgb(125, 4, 117);
}

.lips {
  fill: blue;
}

.eyelids {
  fill:crimson
}

.hearingaid-inner {
  fill: rgb(255, 89, 12);
}

.eyeglasses {
  fill: darkblue;
}

.shirt {
  fill:black
} */
