Silkscreen {
  font-family: 'Silkscreen', sans-serif;
}

@import
url("https://fonts.google.com/specimen/Silkscreen");
/* 
.hair {
  fill: rgb(49, 210, 0);
} */

/* .hair {
  fill: rgb(0, 0, 0);
}

.lips {
  fill: rgb(108, 0, 0);
}

.eyelids {
  fill:rgb(3, 4, 11)
}

.hearingaid-inner {
  fill: rgb(255, 0, 0);
}

.eyeglasses {
  fill: rgb(154, 1, 1);
}

.shirt {
  fill:black
} */
